
<main class='he-main'>

  <div class="grow-container">

    <div style='top: 3%; animation: passing-star-1s 1s infinite; animation-delay: 1s;' class='star-long neon-star'></div>
    <div style='top: 10%; animation: passing-star-2s 2s infinite; animation-delay: 2s;' class='star-long neon-star'></div>
    <div style='top: 17%; animation: passing-star-7s 7s infinite; animation-delay: 7s;' class='star-long'></div>
    <div style='top: 40%; animation: passing-star-4s 4s infinite; animation-delay: 4s;' class='star-long'></div>
    <div style='top: 60%; animation: passing-star-6s 6s infinite; animation-delay: 6s;' class='star-long neon-star'></div>
    <div style='top: 70%; animation: passing-star-3s 3s infinite; animation-delay: 3s;' class='star-long  neon-star'></div>
    <div style='top: 85%; animation: passing-star-1s 1s infinite; animation-delay: 1.5s;' class='star-long neon-star'></div>
    <div style='top: 95%; animation: passing-star-5s 5s infinite; animation-delay: 5s;' class='star-long'></div>

    <div class='distance-tester' id='distance-tester'></div>

    <div class='spaceship-container' id='character'>

      <div class='inner-spaceship-container'>

        <div class="spaceship" id='spaceship' onclick='openMenu()'>
          <div class="window"></div>
        </div>

        <div class='leg leg1'></div>

        <div class='flame-container'>
          <div style='float: left; background: yellow' class='flame flame-secondary neon-box'></div>
          <div class='flame flame-secondary neon-box-blue' style=''></div>
          <div class='flame flame-main neon-box-blue'></div>
          <div style='float: left; background: yellow' class='flame flame-secondary neon-box'></div>
          <div class='flame flame-secondary neon-box-blue' style=''></div>
        </div>

        <div class='leg leg2'></div>

      </div>

      <div id='info-menu'>

        <div class='info-menu-text-container' id='info-menu-text-container'>

          <p class='info-menu-text' id='info-menu-text'></p>

        </div>

      </div>


    </div>

  </div>

</main>

<script src='./vanilla-js/he.js'></script>
