<main class='directory-main'>

<div class='directory-container'>

  <div class='directory-header'>

    <div class='page-title-container'>

      <p class='page-title'>Directory</p>

    </div>

  </div>

  <div class='directory-paths-container'>

    <div class='path-column prologue-paths'>

      <div class='path-title-container'>

        <h3 class='path-title' style='color: white'>Prologue</h3>

      </div>

      <table class='path-table'>
        <tr>
          <th class='path-section-title' style='color: white'>Section_1</th>
        </tr>
        <tr>
          <td class='path-chapter-title' style='color: violet'><a ui-sref='prologueHe'>|</a></td>
        </tr>
        <tr>
          <td class='path-chapter-title' style='color: violet'>Observer</td>
        </tr>
      </table>

    </div>

    <div class='path-column tech-paths'>

      <div class='path-title-container'>

        <h3 class='path-title' style='color: grey'>Tech</h3>

      </div>

      <table class='path-table'>
        <tr>
          <th class='path-section-title' style='color: grey'>Section_1</th>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_1</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_2</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_3</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_4</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_5</td>
        </tr>
      </table>

      <table class='path-table'>
        <tr>
          <th class='path-section-title' style='color: grey'>Section_2</th>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_1</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_2</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_3</td>
        </tr>
      </table>


    </div>

    <div class='path-column wiz-paths'>

      <div class='path-title-container'>

        <h3 class='path-title' style='color: blue'>Wiz</h3>

      </div>

      <table class='path-table'>
        <tr>
          <th class='path-section-title' style='color: blue'>Section_1</th>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_1</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_2</td>
        </tr>
      </table>

      <table class='path-table'>
        <tr>
          <th class='path-section-title' style='color: blue'>Section_2</th>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_1</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_2</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_3</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_4</td>
        </tr>
        <tr>
          <td class='path-chapter-title'>Chapter_5</td>
        </tr>
      </table>

    </div>

  </div>

</div>

</main>
